WEBSITE_URL="http://www.example.com"
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID="GTM-XXXXXX"
NEXT_PUBLIC_GOOGLE_ANALYTICS="UA-XXXXX-X"
RESEND_API_KEY="re_xxxxxxxxx"
RESEND_FROM_EMAIL="Louis Karakas Website <forms@louiskarakas.com>"
